.how-it-works {
  padding: 2.5rem 0 2rem 0;
  border-bottom: 1px solid #e5e5e5;
  height: 80vh;
  
}

.how-it-works h2 {
  color: #10C46D;
  text-align: center;
  margin-bottom: 1.8rem;
  font-size: 2em;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 4em;
  flex-wrap: wrap;
  border: 1.5px solid #10C46D;
 
}

.step {
  background: #fff;
  border-radius: 14px;
  padding: 1.2rem 1.5rem;
  text-align: center;
  width: 20em;
  box-shadow: 0 2px 8px rgba(16,196,109,0.03);
}

.step img {
  width: 15em;
  height: 30vh;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.step p {
  font-weight: 500;
} 
#request{
margin-top: 10em;
}

